<header id="header-about" class="ui inverted vertical segment background-about">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>Let us tell you a <span>story</span></h1>
      <p>The actor's story, behind the scenes.</p>
    </section>
  </section>
</header>
<section class="ui story">
  <section class="ui grid">
    <section class="four wide column">
      <section class="ui grid">
        <section class="three wide column"></section>
        <section class="blockquote-icon three wide column"></section>
        <blockquote class="ten wide column">
          Do, or do not. <br>
          There is no try. <br>
          <span>
            --- Yoda
          </span>
        </blockquote>
      </section>
    </section>
    <section class="eight wide column">
      <p>
        Red Five standing by. He is here. The plans you refer to will soon be back in our hands. 
        I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.
      </p>
      <p>
        Don't act so surprised, Your Highness. You weren't on any mercy mission this time. Several transmissions were beamed to this ship by Rebel spies. 
        I want to know what happened to the plans they sent you. But with the blast shield down, I can't even see! How am I supposed to fight? 
        Now she is my only link to finding their secret base. Partially, but it also obeys your commands. 
        Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!
      </p>
      <p>
        Hey, Luke! I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan-- 
        I have traced the Rebel spies to her. I want to know what happened to the plans they sent you.
      </p>
    </section>
  </section>
</section>
<section class="ui page grid bio">
  <section class="column row title">
    <h1>The passionate actors</h1>
  </section>
  <section class="three column row">
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing' %>
