<header id="header-about" class="ui inverted vertical segment background-about">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>Let us tell you a <span>story</span></h1>
      <p>The actor's story, behind the scenes.</p>
    </section>
  </section>
</header>
<section class="ui story">
  <section class="ui grid">
    <section class="four wide column">
      <section class="ui grid">
        <section class="three wide column"></section>
        <section class="blockquote-icon three wide column"></section>
        <blockquote class="ten wide column">
          Do, or do not. <br>
          There is no try. <br>
          <span>
            --- Yoda
          </span>
        </blockquote>
      </section>
    </section>
    <section class="eight wide column">
      <p>
        Red Five standing by. He is here. The plans you refer to will soon be back in our hands. 
        I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.
      </p>
      <p>
        Don't act so surprised, Your Highness. You weren't on any mercy mission this time. Several transmissions were beamed to this ship by Rebel spies. 
        I want to know what happened to the plans they sent you. But with the blast shield down, I can't even see! How am I supposed to fight? 
        Now she is my only link to finding their secret base. Partially, but it also obeys your commands. 
        Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!
      </p>
      <p>
        Hey, Luke! I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan-- 
        I have traced the Rebel spies to her. I want to know what happened to the plans they sent you.
      </p>
    </section>
  </section>
</section>
<section class="ui page grid bio">
  <section class="column row title">
    <h1>The passionate actors</h1>
  </section>
  <section class="three column row">
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Razif Hashim</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator
      </section>
      <p class="biography"> 
        Nadzirah Hashim’s achievements include being the founder of Nadzirah Hashim’s achievements 
        include being the founder of www.FriendlyFashion.my (now known vinted.com) which gathers a community 
        of 18,000 people from all over Malaysia to sell, swap and give away their pre-loved clothes and accessories. 
        Developing the site on a shoestring budget, Nadzirah’s skill at PR and Social Media Content strategies led to its success, 
        being crowned DiGi’s Online Shop of The Year Award in 2012. 
        Malaysian celebrities like Lisa Surihani and Sharifah Sofia advocate the website.ww.FriendlyFashion.my 
        (now known vinted.com) which gathers a community of 18,000 people from all over Malaysia to sell, swap and 
        give away their pre-loved clothes and accessories. Developing the site on a shoestring budget, 
        Nadzirah’s skill at PR and Social Media Content strategies led to its success, being crowned DiGi’s Online Shop of The Year Award in 2012. 
        Malaysian celebrities like Lisa Surihani and Sharifah Sofia advocate the website.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Nadzirah Hashim</h2>
      <section class="subheading">
        Founder of Vinted.com
      </section>
      <p class="biography"> 
        Nadzirah Hashim’s achievements include being the founder of Nadzirah Hashim’s achievements 
        include being the founder of www.FriendlyFashion.my (now known vinted.com) which gathers a community 
        of 18,000 people from all over Malaysia to sell, swap and give away their pre-loved clothes and accessories. 
        Developing the site on a shoestring budget, Nadzirah’s skill at PR and Social Media Content strategies led to its success, 
        being crowned DiGi’s Online Shop of The Year Award in 2012. 
        Malaysian celebrities like Lisa Surihani and Sharifah Sofia advocate the website.ww.FriendlyFashion.my 
        (now known vinted.com) which gathers a community of 18,000 people from all over Malaysia to sell, swap and 
        give away their pre-loved clothes and accessories. Developing the site on a shoestring budget, 
        Nadzirah’s skill at PR and Social Media Content strategies led to its success, being crowned DiGi’s Online Shop of The Year Award in 2012. 
        Malaysian celebrities like Lisa Surihani and Sharifah Sofia advocate the website.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Isabelle Zhen</h2>
      <section class="subheading">
         Ex-proprietary trader / Ballet Academy Manager / Television show host / Radio presenter 
      </section>
      <p class="biography"> 
        Born to a family of entrepreneurs, Isabelle Zhen’s experience as an ex-proprietary trader, a ballet academy manager, a television show host 
        (Astro Hitz) and a radio presenter (Traxxfm) ignited her passion for broadcasting and business. 
        To this effect, she received her master’s degree in business strategy, entrepreneurship and innovation from the University of Exeter in 2014. 
        Today, Isabelle is based in London where she has the opportunity to combine both her passions.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Gonzalo Morquecho</h2>
      <section class="subheading">
        Co-Founder / Actor / Speaker / Educator 
      </section>
      <p class="biography"> 
        Gonzalo Morquecho is a Spanish actor with more than 15 years of experience. 
        After finishing both his degree in Fine arts (2000) and Performing Arts (2004), 
        Gonzalo has been working as an actor, director, acting coach, and lecturer in the field of performing arts. 
        Sometimes, he worked as a creative content creator for different companies in Spain as well. 
        In 2010, he migrate to Asia after closing down his Production House, looking for new experiences and opportunities.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Sho Suzuki</h2>
      <section class="subheading">
        Member of Tablework
      </section>
      <p class="biography"> 
        Sho Suzuki is a recent graduate from Taylor’s University in Mass Communication. 
        Born and raised in Kuala Lumpur to a Japanese father and a Malaysian mother, he is determined to achieve his ambition in acting. 
        Suzuki has also been involved in a few theater production before he graduate and his latest involvement with theater was “Short +Sweet 2013” hosted yearly by KLPAC. 
        Today, he works as member of a revolutionary technology, Tablework.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Ariel</h2>
      <section class="subheading">
       Content Developer & Designer / Admin
      </section>
      <p class="biography"> 
        Ariel began working at the age of 13 as a show artist and hasn't stopped working since. 
        While juggling school as well as upholding many different responsibilities and roles in College, 
        Ariel is also a choreographer for Broadway Academy and has choreographed and performed for many big brands, such as Colgate and Kronenberg
        1664. Currently, she works as a content developer and designer, and also an admin for CODE acting school.
      </p>
    </section>
    <section class="one column">
      <%= image_tag 'portrait.jpg' %>
      <h2>Divyaa</h2>
      <section class="subheading">
        Intern
      </section>
      <p class="biography"> 
        Divyaa, the intern, loves dressing up like she's from a different decade and watches way too many cartoons for her age. 
        When she's not buried in a book, she's studying for a computer science degree.
      </p>
    </section>
  </section>
</section>
<section class="ui page grid mentors">
  <section class="column row title">
    <h1>Our Guru Mentors</h1>
  </section>  
  <section class="column row">
    <section class="six wide column">
      <%= image_tag 'female.png', style: 'width: 320px; height: 480px;' %>
      <h2>Dee Cannon</h2>
      <section class="sub-heading">One of the most sought-after acting / dialogue coaches in the world</section>
    </section>
    <section class="ten wide column">
      <p>
        Dee Cannon is one of the most sought-after acting / dialogue coaches in the world.
      </p>
      <p>
        She is also a director in her own right and has directed over 30 plays. She has influenced and directed some of the biggest names working in the West End today!
      </p>
      <p>
        She works in London, Los Angeles, New York and throughout the world, in film, TV, theatre and pop videos.
        </p>  
      <p>  
        Her work as an acting coach includes auditions, readings, monologues, script breakdown, on set coaching and character development.
      </p>
      <p>  
        She has also worked with top contemporary visual artists, world champion dancers, journalists, screenwriters and business people.  
      </p>  
      <p>
        Dee Cannon is Anglo American. She trained as an actress in London at Arts Educational Drama School on the three year acting diploma course and subsequently with Uta Hagen at the HB Studio, New York.She continues the work of her highly respected mother, Doreen Cannon.  
      </p>
      <p> 
        In 1993 Dee was invited to teach and direct at RADA where she has been the main senior acting teacher for seventeen years and has directed over 25 plays there.
      </p>
      <p>  
        Dee Cannon has run scene study workshops at the Actor’s Centre in London and gives master classes in LA, New York, Stockholm, Berlin, Gothenberg, Tel Aviv, Jerusalem and the Philippines.
      </p>
      <p>
        Dee also finds time to coach for film, TV, theatre and pop videos. Among many others, she has coached Jon Voight, Matthew Modine and Courtney Love. She has also worked with numerous actors from the RSC and Royal National Theatre. Her work as an acting coach was featured in Channel 4’s award winning series Faking It and Joe Millionaire UK.
      </p>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing' %>
