<header class="ui inverted vertical segment background-image">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column row">
      <section class="nine wide column"></section>
      <%= render 'static_pages/jumbo' %>
    </section>
  </section>
</header>
<section class="ui page grid">
  <section class="column marketing row">
    <section class="column">
      <p class="sub-heading">
        TABLEWORK™ stores all your most up to date research for immediate reference. 
        <br>
        So you’ll always be prepared for your beginners call.
      </p>
    </section>
  </section>
  <section class="three column marketing row">
    <section class="column">
      <h3>Create</h3>
      <p class="subtext">
        Design your characters down to the specifics.
        Take ownership of your role.
      </p>
    </section>
    <section class="column">
      <h3>Craft</h3>
      <p class="subtext">
        Redefine your characters by engaging in 
        various scenes.
      </p>
    </section>
    <section class="column">
      <h3>Connect</h3>
      <p class="subtext">
        Schedule practices and 
        <br>
        communicate efficiently with 
        your cast members.
      </p>
    </section>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid features">
  <section class="column row">
    <section class="centered column">
      <h1 style="text-align: center">
        Featuring...
      </h1>
    </section>
  </section>
  <section class="twelve wide column feature row center aligned" style="margin-top: 50px">
    <%= image_tag 'feature-1.png', class: 'image' %>
    <h2 class="heading">The Actors Dashboard</h2>
    <p class="sub-heading">
      The TABLEWORK™ home page for tailored for quick navigation.
      Have your profiles organised through a personal library of characters 
      and shared rehearsal spaces—all in one place,
      no matter the time or venue.
    </p>
  </section>
  <hr>
  <section class="sixteen column feature row center aligned">
    <section class="ten wide column">
      <%= image_tag 'feature-2.png', class: 'image' %>
    </section>
    <section class="six wide column">
      <h2 class="heading">Rehearsal Space</h2>
      <p class="sub-heading justified">
        Bypass the nightmare of coordinating
        rehearsal time by connecting virtually. 
        TABLEWORK™ allows you to get in touch 
        and work with your directors and cast members, 
        out of costume and away from the set.
      </p>
    </section>
  </section>
  <hr>
  <section class="sixteen column feature row center aligned">
    <section class="five wide column">
      <h2 class="heading">Scene Works</h2>
      <p class="sub-heading justified">
        Scene Work
        Here you can create and note
        the analysis of your character’s
        background. Scene by scene,
        TABLEWORK™ helps you breakdown 
        your character by asking The 10 Critical
        Questions, leading you to build
        a memorable character.
      </p>
    </section>
    <section class="eleven wide column">
      <%= image_tag 'feature-3.png', class: 'image' %>
    </section>
  </section>
  <hr>
  <section class="feature ten wide column row">
    <h2 class="heading">The Play's World</h2>
    <p class="sub-heading justified">
      TABLEWORK™ enables you to explore the world your character lives in:
      history, geography, culture, fashion and politics—all these details 
      add depth and flavour to the portrayal of your character. You can also share your findings and have your cast members
      on the same page.
    </p>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid call-to-action">
  <section class="actions two column row" style="margin: 50px 0;">
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading" style="color:black;">
        Use Tablework for FREE
      </h1>
      <%= link_to 'Sign me up!', dashboard_path, class: "ui button yellow" %>
    </section>
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading" style="color:black;">
        Tell me about pricing
      </h1>
      <%= link_to 'See Pricing', pricing_path, class: "ui button yellow" %>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing.html.erb' %>
