<header class="ui inverted vertical segment background-image">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column row">
      <section class="nine wide column"></section>
      <%= render 'static_pages/jumbo' %>
    </section>
  </section>
</header>
<section class="ui page grid">
  <section class="column marketing row">
    <section class="column">
      <p class="sub-heading">
        Jump straight in! Tablework stores all your research and thoughts. So when you need to be in character for that BIG audition, matinee show or life-changing pitch - you are ready.
      </p>
    </section>
  </section>
  <section class="three column marketing row">
    <section class="column">
      <h3>Craft</h3>
      <p class="subtext">
        Explore new ways of getting down, dirty and organized. Our video tutorials will change your life, the universe and everything.
      </p>
    </section>
    <section class="column">
      <h3>Create</h3>
      <p class="subtext">
        Research your character through Tablework. Make it yours. Explore your scenes through Tablework. Make ‘em remember you. 
      </p>
    </section>
    <section class="column">
      <h3>Connect</h3>
      <p class="subtext">
        Use our virtual rehearsal space. Need we say more? Scheduling rehearsal times and venues with cast members is every actor’s nightmare so leave it to us. We got your back. 
      </p>
    </section>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid features">
  <section class="column row">
    <section class="centered column">
      <h1 style="text-align: center">
        Featuring...
      </h1>
    </section>
  </section>
  <section class="twelve wide column feature row center aligned" style="margin-top: 50px">
    <%= image_tag 'feature-1.png', class: 'image' %>
    <h2 class="heading">The Actors Dashboard</h2>
    <p class="sub-heading">
      Let Tablework be your acting JARVIS. Navigate around your personal library of completed characters and when you need it, suit up. There are no short-cuts to a memorable performance, but we can get you there easier and faster.
    </p>
  </section>
  <hr>
  <section class="sixteen column feature row center aligned">
    <section class="ten wide column">
      <%= image_tag 'feature-2.png', class: 'image' %>
    </section>
    <section class="six wide column">
      <h2 class="heading">Rehearsal Space</h2>
      <p class="sub-heading justified">
        Finding a suitable rehearsal time and venue with cast members is every actor’s nightmare. Yet, why let the depth of your performance be limited by contact hours?
Our virtual rehearsal space allows directors and cast members to work together across time and space– well, until teleportation is perfected.
      </p>
    </section>
  </section>
  <hr>
  <section class="sixteen column feature row center aligned">
    <section class="five wide column">
      <h2 class="heading">Scene Studies</h2>
      <p class="sub-heading justified">
        Stanislavski had one mantra. “An actor prepares”. Fast-forward to the 21st century, Tablework has digitized this process. This feature prepares your game plan for the big night, helps you chew on those tough scenes, and create statistics for your character’s emotional journey.
      </p>
    </section>
    <section class="eleven wide column">
      <%= image_tag 'feature-3.png', class: 'image' %>
    </section>
  </section>
  <hr>
  <section class="feature ten wide column row">
    <h2 class="heading">Notes</h2>
    <p class="sub-heading justified">
      At Tablework, we call it The World of the Play. This feature helps you dissect your character’s world by situational analysis (and take down those endless rehearsal notes from your director). History, geography, culture, fashion and politics, this intricate world impacts your portrayal of the character.
    </p>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid call-to-action">
  <section class="actions two column row" style="margin: 50px 0;">
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading" style="color:black;">
        Use Tablework for FREE
      </h1>
      <%= link_to 'Sign me up!', dashboard_path, class: "ui button yellow" %>
    </section>
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading" style="color:black;">
        Tell me about pricing
      </h1>
      <%= link_to 'See Pricing', pricing_path, class: "ui button yellow" %>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing.html.erb' %>
