<header class="ui inverted vertical segment background-image">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column row">
      <section class="nine wide column"></section>
      <%= render 'static_pages/jumbo' %>
    </section>
  </section>
</header>
<section class="ui page grid">
  <section class="three column marketing row">
    <section class="column">
      <h3>Craft</h3>
      <p class="subtext">
        Explore new ways of getting organized. Refresh and learn new skills with our tutorials
      </p>
    </section>
    <section class="column">
      <h3>Create</h3>
      <p class="subtext">
        Research and build your character, explore your scenes. Compile your thought and access them anywhere
      </p>
    </section>
    <section class="column">
      <h3>Connect</h3>
      <p class="subtext">
        Engage in a virtual rehearsal space with fellow cast members. Join a world community of actors
      </p>
    </section>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid features">
  <section class="twelve wide column feature row">
    <%= image_tag 'feature-1.png', class: 'image' %>
    <h2 class="heading">Nam Libero Tempore</h2>
    <p class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel iusto nostrum hic soluta, dolores quia iure veniam! Eveniet, expedita eos tenetur soluta, illum consequuntur itaque ipsa praesentium accusantium! Est!</p>
  </section>
  <hr>
  <section class="sixteen column feature row">
    <section class="ten wide column">
      <%= image_tag 'feature-2.png', class: 'image' %>
    </section>
    <section class="six wide column">
      <h2 class="heading">Nam Libero Tempore</h2>
      <p class="sub-heading justified">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel iusto nostrum hic soluta, dolores quia iure veniam! Eveniet, expedita eos tenetur soluta, illum consequuntur itaque ipsa praesentium accusantium! Est!</p>
    </section>
  </section>
  <hr>
  <section class="sixteen column feature row">
    <section class="five wide column">
      <h2 class="heading">Nam Libero Tempore</h2>
      <p class="sub-heading justified">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel iusto nostrum hic soluta, dolores quia iure veniam! Eveniet, expedita eos tenetur soluta, illum consequuntur itaque ipsa praesentium accusantium! Est!</p>
    </section>
    <section class="eleven wide column">
      <%= image_tag 'feature-3.png', class: 'image' %>
    </section>
  </section>
  <section class="feature row">
    <h2 class="heading">Nam Libero Tempore</h2>
    <p class="sub-heading justified">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel iusto nostrum hic soluta, dolores quia iure veniam! Eveniet, expedita eos tenetur soluta, illum consequuntur itaque ipsa praesentium accusantium! Est!</p>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid call-to-action">
  <header class="row">
    <h2 class="heading">Nam Libero Tempore</h2>
    <p class="sub-heading justified">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel iusto nostrum hic soluta, dolores quia iure veniam! Eveniet, expedita eos tenetur soluta, illum consequuntur itaque ipsa praesentium accusantium! Est!</p>
  </header>
  <section class="actions two column row">
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading">
        Sign up for free now!
      </h1>
      <p class="sub-heading">Explicabo aliquid vitae voluptatum ut deleniti ullam rerum, aliquam necessitatibus obcaecati inventore veritatis.</p>
      <%= link_to 'Free', dashboard_path, class: "ui button yellow" %>
    </section>
    <section class="column center aligned">
      <%= image_tag 'icon-price.png', class: 'image' %>
      <h1 class="heading">
        Simple and affordable pricing
      </h1>
      <p class="sub-heading">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Intersi camsunitisat onvisrisa anterecibus. Les arems apacicirs.
      </p>
      <%= link_to 'See Pricing', pricing_path, class: "ui button yellow" %>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing.html.erb' %>
