<header id="header-about" class="ui inverted vertical segment background-pricing">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>Back to Busines</h1>
      <p>How much is Tablework?</p>
    </section>
  </section>
</header>
<section class="ui story">
  <section class="ui page grid">
    <section class="sixteen wide column row">
    </section>
  </section>
</section>
<section class="ui prices">
  <section class="ui page grid">
    <section class="sixteen wide column row center align">
      <section class="five wide column price">
        <header>
          <div class="title">Basic</div>
          <div class="number">
            <span>$</span>0
          </div>
          <div class="frequency">Forever!</div>
        </header>
        <footer>
          <p>2 Rehearsal Spaces</p>
          <p>5 Team Members per Rehearsal Space</p>
          <p>FREE updates forever</p>
        </footer>
        <%= link_to 'I want this!', dashboard_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer" style="text-align: justify">
          Great for small casts and productions. Don’t you worry child, you can upgrade
          to Superstar or Pro for your next production anytime you feel like it.
        </section>
      </section>
      <section class="five wide column price inverted">
        <section class="four wide column recommended">
          <span>Recommended |</span> Get 2 Month For Free
        </section>
        <header>
          <div class="title">Superstar</div>
          <div class="number">
            <span>$</span>69<span>99</span>
          </div>
          <div class="frequency">per year</div>
        </header>
        <footer>
          <p>Unlimited Rehearsal Spaces</p>
          <p>Unlimited Team Members per Space</p>
          <p>2 FREE e-books (worth $53.90)</p>
        </footer>
        <%= link_to 'I want this!', payments_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer" style="text-align:justify">
          Taste the stars! Unrestricted access to Rehearsal Spaces and Cast Members. If you are a Director, Producer, or a Serious Actor – this is your baby. UPDATE: 2 FREE MONTHS
        </section>
      </section>
      <section class="five wide column price">
        <header>
          <div class="title">Pro</div>
          <div class="number">
            <span>$</span>6<span>99</span>
          </div>
          <div class="frequency">per month</div>
        </header>
        <footer>
          <p>Unlimited Rehearsal Spaces</p>
          <p>Unlimited Team Members per Space</p>
          <p>FREE updates forever. True story.</p>
        </footer>
        <%= link_to 'I want this!', payments_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer">
          Great for Professional Actors and Directors with many productions.
        </section>
      </section>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing' %>
