<header id="header-about" class="ui inverted vertical segment background-pricing">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>What's the <span>price</span> to pay?</h1>
      <p>We have prepared the best plans you ever need</p>
    </section>
  </section>
</header>
<section class="ui story">
  <section class="ui page grid">  
    <section class="sixteen wide column row">
      <section class="two wide column"></section>
      <section class="twelve wide column">
        <p>
          Red Five standing by. He is here. The plans you refer to will soon be back in our hands. I need your help,
          Luke. She needs your help. I'm getting too old for this sort of thing.
        </p>
      </section>
    </section>
  </section>
</section>
<section class="ui prices">
  <section class="ui page grid">
    <section class="sixteen wide column row center align">
      <section class="five wide column price">
        <header>
          <div class="title">Basic</div>
          <div class="number">
            <span>$</span>0
          </div>
          <div class="frequency">Forever!</div>
        </header>
        <footer>
          <p>Up to 2 Rehearsal Spaces</p>
          <p>5 Team Members / Space</p>
          <p>Free updates forever</p>
        </footer>
        <%= link_to 'Get Started', dashboard_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer">
          Great for small teams and one-time projects. <br>
          Don’t worry, you can upgrade to a pro or a superstar anytime you feel like it.
        </section>
      </section>
      <section class="five wide column price inverted">
        <section class="four wide column recommended">
          <span>Recommended |</span> Get 2 Month For Free
        </section>
        <header>
          <div class="title">Superstar</div>
          <div class="number">
            <span>$</span>69<span>99</span>
          </div>
          <div class="frequency">per year</div>
        </header>
        <footer>
          <p>Unlimited Rehearsal Spaces</p>
          <p>Unlimited Team Members / Space</p>
          <p>2 Free e-Books</p>
        </footer>
        <%= link_to 'Buy Now', payments_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer">
          Want the best plan but still unsure? Go for this option! 
          Don’t get restricted in your work with the basic plan and get a taste of being a superstar user. 
          The plans you refer to will soon be back in our hands
        </section>
      </section>
      <section class="five wide column price">
        <header>
          <div class="title">Pro</div>
          <div class="number">
            <span>$</span>6<span>99</span>
          </div>
          <div class="frequency">per month</div>
        </header>
        <footer>
          <p>Unlimited Rehearsal Spaces</p>
          <p>Unlimited Team Members / Space</p>
          <p>&nbsp;</p>
        </footer>
        <%= link_to 'Buy Now', payments_path, class: 'ui huge fluid button bottom yellow' %>
        <section class="after-footer">
          This is perfect for professional actors and managing many teams. 
          Red Five standing by. He is here. The plans you refer to will soon be back in our hands.
        </section>
      </section>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing' %>
