<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui one columns grid">

      <section class="column">
        <h3>Create A Notes</h3>

        <div class="form-inputs">
          <%= simple_form_for [@space, @notable, @note] do |f| %>
            <%= f.input :title, placeholder: 'Title' %>
            <%= f.input :text, placeholder: 'Text' %>
            <%= f.input :image, placeholder: 'Image' %>
            <%= f.input :link, placeholder: 'Link' %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, 'SAVE NOTE', class: 'ui primary' %>
          <% end %>
        </div>

      </section>
    </section>
  </section>
</section>