<section class="ui card list shadow" id="step1">
    <header class="header">
      <h3>Cast</h3>
    </header>
    <section class="content">
      <section class="ui grid">
        <div class="cast-info three wide column">
          <%= user_portrait class: 'ui huge circular image', user: @space.director, gender: @space.director.gender %>
        </div>
        <div class="thirteen wide column">
          <p><%= @space.director.email %></p>
          <small>Admin</small>
        </div>
      </section>
      <% @space.characters.each do |character|%>
        <section class="ui grid">
          <div class="cast-info three wide column">
            <%= user_portrait class: 'ui huge circular image', user: character, gender: character.gender %>
          </div>
          <div class="thirteen wide column">
            <p><%= character.name %></p>
            <small><%= character.user.first_name %> <%= character.user.last_name %></small>
          </div>
        </section>
      <% end %>
    </section>
    <footer class="extra content">
      <%= link_to new_space_space_membership_path(@space), id: 'add-cast' do %>
        <i class="plus icon"></i> ADD CAST
      <% end %>
    </footer>
  </section>
