<section class="ui modal fullscreen editor-<%= note.id %>">
  <section class="header">
    <i class="close icon"></i>
    Edit Note
  </section>
  <section class="content form-inputs">
    <%= simple_form_for [space, scene, note] do |f| %>
      <%= f.input :title, placeholder: 'Title' %>
      <%= f.text_area :link_html, class: 'editable' %>
    <% end %>
  </section>
  <section class="actions">
    <button class="ui button primary submit">Submit</button>
  </section>
</section>
<script>
  $(function(){
    $('.editable').editable({inlineMode: false, height:300});
    $('.froala-box > div:not(.f-basic)').hide();
    $('#scene-<%= scene.id %> .edit-note-<%= note.id %>').click(function(){
      $('#scene-<%= scene.id %> .editor-<%= note.id %>').modal('setting', 'closable', false).modal('show');
    });
    $('#scene-<%= scene.id %> .editor-<%= note.id %> .submit').click(function() {
      $('.editor-<%= note.id %>.active form').submit();
    });
  })
</script>