<% if scene.notes.present? %>
  <% scene.notes.order(:created_at).each_with_index do |note, index| %>
    <div id="note-<%= note.id %>">
      <% if note.link_html.present? %>
        <button class="ui positive button fluid view"><%= note.title %></button>
        <section class="ui modal fullscreen note">
          <i class="close icon"></i>
          <section class="header">
            <i class="<%= icon_helper(note.title) %> icon"></i>
            <%= note.title %>
          </section>
          <section class="content froala-view">
            <%= note.link_html.html_safe %>
          </section>
          <section class="actions">
            <%= link_to polymorphic_path([@space, scene, note], action: :edit), class:"ui secondary button edit-note-#{note.id}", remote: true do %>
              <i class="plus icon"></i>
              <span>Edit</span>
            <% end %>
          </section>
        </section>
      <% else %>
        <%= link_to polymorphic_path([@space, scene, note], action: :edit), class:"ui negative button fluid edit-note-#{note.id}", remote: true do %>
          <i class="<%= icon_helper(note.title) %> icon"></i>
          <span><%= note.title %></span>
        <% end %>
      <% end %>
      <%= render 'spaces/editor_modal', space: @space, scene: scene, note: note %>
      <script>
        $(document).ready(function(){
          $('#scene-<%= scene.id %> #note-<%= note.id %> .view').click(function(){
            $('#scene-<%= scene.id %> #note-<%= note.id %> .note').modal('show');
          });
        });
      </script>
    </div>
  <% end %>
<% end %>