<section class="rehearsal_header">
  <h3><%= link_to root_path do %><i class="angle left large icon"></i><% end %> <%= @space.name %> <span class="ui button secondary"><%= link_to 'Add New scene', polymorphic_path([@space, @scene], action: :new) %></span></h3>
</section>

<section class="container-flex">
  <%= render 'spaces/casts' %>
  <% @space.scenes.order('created_at ASC').each_with_index do |scene, index| %>
    <section class="ui card list shadow ">
      <header class="header">
        <h3><%= scene.title %></h3>
      </header>
      <section class="content">
        <%= render 'spaces/scene', scene: scene %>
      </section>
      <footer class="extra content">
        <% if index != 0 %>
          <%= link_to polymorphic_url([@space, scene, scene.notes.build], action: :new), id: "js-add-scene-note-#{scene.id}", remote: true do %>
            <i class="plus icon"></i> ADD NOTE</a>
          <% end %>
        <% end %>
      </footer>
    </section>
    <%= render 'spaces/add_note_modal_scene', scene: scene %>
  <% end %>
</section>