<div id="space-<%= @space.id %>">
  <section class="rehearsal_header">
    <h3>
      <%= link_to root_path do %>
        <i class="angle left large icon"></i>
      <% end %>
      <span class="orange">
        <%= @space.name %>
      </span>
      <span class="ui button secondary">
        <%= link_to 'Add New scene', polymorphic_path([@space, @scene], action: :new) %>
      </span>
      <span class="ui button secondary">
        <%= link_to 'Delete space', @space, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </h3>
  </section>

  <section class="container-flex">
    <%= render 'spaces/casts' %>
    <% @space.scenes.order('created_at ASC').each_with_index do |scene, index| %>
      <section id="scene-<%= scene.id %>" class="ui card list shadow">
        <header class="header">
          <h3><%= scene.title %></h3>
        </header>
        <section class="content">
          <% if index != 0 %>
            <div>
              <% scene.scene_memberships.each do |member| %>
                <%= link_to member, class: "ui instant fade masked reveal", data: {confirm: "Unassigning character. Are you sure?"}, method: :delete do %>
                  <%= user_portrait class: 'ui circular image visible content', gender: member.character.gender, style: 'width: 30px;height:30px' %>
                  <i class='close icon hidden content center' style="width:30px;height:30px;font-size:20px !important;"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <%= render 'spaces/scene', scene: scene %>
        </section>
        <footer class="extra content">
          <% if index != 0 %>
            <%= link_to assign_cast_scene_path(scene), class: "assign-cast-#{scene.id}", remote: false do %>
              <i class="plus icon"></i>ADD CAST</a>
            <% end %>
            &nbsp;
            <%= link_to "#", class: "new-note-#{scene.id}", remote: true do %>
              <i class="plus icon"></i>ADD NOTE</a>
            <% end %>
            &nbsp;
            <%= link_to polymorphic_path([@space, scene]), method: :delete do %>
              <i class="minus icon"></i>DELETE SCENE</a>
            <% end %>
          <% end %>
        </footer>
        <%= render 'shared/new_editor_modal', space: @space, scenable: scene, note: nil %>
      </section>
    <% end %>
  </section>
</div>