<div id="space-<%= @space.id %>">
  <section class="rehearsal_header">
    <h3>
      <%= link_to root_path do %>
        <i class="angle left large icon"></i>
        <span class="orange">
          <%= @space.name %>
        </span>
      <% end %>
      <span style="position:fixed;right:20px;top:150px;" id="step4">
        <%= link_to 'Edit space', edit_space_path(@space), class: 'ui black button' %>
      </span>
    </h3>
  </section>

  <section class="container-flex">
    <%= render 'spaces/casts' %>
    <section class="ui card list shadow discussion">
      <header class="header">
        <h3>Discussion</h3>
      </header>
      <section class="content">
        <% @space.messages.each do |message| %>
          <section class="table-cell ui grid">
            <section class="chat-box sixteen wide column row">
              <section class="three wide column">
                <%= user_portrait style: 'width: 40px; height: 40px', user: message.user, class: 'ui circular image' %>
              </section>
              <section class="twelve wide column text">
                <%= simple_format message.text %>
                <small>
                  <%= time_ago_in_words message.created_at %> ago
                </small>
              </section>
            </section>
          </section>
        <% end %>
      </section>
      <section class="extra content">
        <%= form_for [@space, @space.messages.build] do |f| %>
          <%= f.text_area :text, cols: '40', rows: '1' %>
          <%= f.submit :send, class: 'ui mini inverted button' %>
        <% end %>
      </section>
    </section>
    <% @space.scenes.order('created_at ASC').each_with_index do |scene, index| %>
      <section id="scene-<%= scene.id %>" class="ui card list shadow" id="<%= 'step2' if index == 0 %>">
        <header class="header">
          <h3><%= scene.title %></h3>  
          <span>
            <%= link_to polymorphic_path([@space, scene], action: :edit), style: 'float:right; color:black; position:relative; top: 10px; right: 15px;' do %> 
              <i class="configure icon"></i>
              Edit
            <% end %>
          </span>
        </header>
        <section class="content">
          <% if index != 0 %>
            <div>
              <% scene.scene_memberships.each do |member| %>
                <%= link_to member, class: "ui instant fade masked reveal", data: {confirm: "Unassigning character. Are you sure?"}, method: :delete, style: 'height: 40px; width: 40px;' do %>
                  <%= user_portrait class: 'ui circular image visible content', user: member.character, gender: member.character.gender, style: 'width: 40px;height:40px' %>
                  <i class='close icon hidden content center' style="width:30px;height:30px;font-size:20px !important;"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <%= render 'spaces/scene', scene: scene %>
        </section>
        <footer class="extra content">
          <% if index != 0 %>
            <%= link_to assign_cast_scene_path(scene), class: "assign-cast-#{scene.id}", remote: false do %>
              <i class="plus icon"></i>ADD CAST</a>
            <% end %>
          <% end %>
          &nbsp;
          <%= link_to "#", class: "new-note-#{scene.id}", remote: true do %>
            <i class="plus icon"></i>ADD NOTE</a>
          <% end %>
        </footer>
        <%= render 'shared/new_editor_modal', space: @space, scenable: scene, note: nil %>
      </section>
    <% end %>
    <section class="ui card list shadow" style="height: 7vh" id="step3">
      <footer class="extra content">
        <%= link_to polymorphic_path([@space, @scene], action: :new) do %>
          <i class="plus icon"></i>Add new scene</a>
        <% end %>
      </footer>
    </section>
  </section>
</div>
<script>
  <% if current_user.show_intro_3? %>
    $(function(){
      var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: '#step1',
            intro: 'Welcome to your Rehearsal Space. Add all your cast members so you can begin interacting with them.'
          },
          {
            element: '#step2',
            intro: 'This is where you build the world of your story together to achieve a shared reality. You may compile your research by copying and pasting URLs, upload images/videos to your research.'
          },
          {
            element: '#step3',
            intro: 'Assign cast members involved in a scene to work together. You may upload scripts, rehearsal/director’s notes to record the progress of rehearsals.'
          }
        ]
        }).setOptions({ 'tooltipPosition': 'right' }).start();
    });
    <% current_user.toggle! :show_intro_3 %>
  <% end %>
</script>
