<p>
	<%=image_tag @user.profile_photo%>
</p>
<p>
	First Name: <%= @user.first_name %>
</p>
<p>
	Last Name: <%= @user.last_name %>
</p>
<p>
	Email: <%= @user.email %>
</p>


<p>
	Occupation: <%= @user.occupation %>
</p>
<p>
	Gender: <%= @user.gender %>
</p>
<p>
	Skillset: <%= @user.skillset %>
</p>
<p>
	Eye Color: <%= @user.eyecolor %>
</p>
<p>
	Date of Birth: <%= @user.DOB %>
</p>
<p>
	Mobile phone no.: <%= @user.mobile_phone %>
</p>
<p>
	Website: <a href = '"' <%= @user.website %>'"' > </a>
</p>