<%= simple_form_for @user, html: { method: :put } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :DOB, label: 'Date Of Birth', as: :date, start_year: Date.today.year - 50,
                              end_year: Date.today.year, discard_day: false,
                              order: [:day, :month, :year] %>
    <%= f.input :gender, as: :select, collection: ['male', 'female'] %>
    <%= f.input :occupation %>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
