<%= simple_form_for @user, html: { method: :put } do |f| %>
<%= f.error_notification %>

<%= render 'shared/edit_header' %>

<section class="ui eight wide columns centered page grid">
  <section class="eight wide column sign">
    <section class="ui eight wide grid">

      <section class="column">
        <h3>Edit Profile</h3>

        <div class="form-inputs">
          <%= f.input :first_name, placeholder: 'First Name' %>
          <%= f.input :last_name, placeholder: 'Last Name' %>
          <%= f.input :DOB, label: 'Date Of Birth', as: :date, start_year: Date.today.year - 100,
          end_year: Date.today.year, discard_day: false,
          order: [:day, :month, :year], class: 'ui selection dropdown' %>
          <%= f.input :gender, as: :select, collection: ['male', 'female'], class: 'ui selection dropdown' %>
          <%= f.input :occupation, placeholder: 'Occupation' %>
          <%= f.input :location, placeholder: 'Location' %>
          <%= f.input :image %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Edit", class: 'ui button fluid primary' %>
        </div>
        <% end %>

      </section>

    </section>
  </section>
</section>
