<section class="ui card shadow" data-step="5" data-intro="This is Sample Sam. Click here to explore your role.">
<section id="js-show-character-<%= character.id %>" class="image" style="height: 180px; background: url('<%= user_portrait_url(character) %>') center no-repeat;background-size: cover;">
    <h4 class="image-text"><%= character.name %></h4>
  </section>
  <section class="extra content">
    <% if character.space %>
    <%= link_to character.space.name, character.space, style: 'float:none;color:#0c0c0c'  %>
    <% else %>
      No Space
    <% end %>
    <%= link_to assign_space_character_path(character), id: "js-assign-space-#{character.id}", class: 'modal-assign-space', remote: true, data: { step: '6', intro: 'To assign your character to a rehearsal space, click here!' } do %>
      <i class="large plus square outline icon"></i>
    <% end %>
  </section>
</section>


<% sym = character.name.to_sym %>
<% content_for sym  do %>
  <section id="js-persona-page-<%= character.id %>" style="opacity:0;display:none">
    <%= render 'characters/character_profile', character: character %>
    <%= render 'characters/assign_space_modal_character', character: character %>
    <%= render 'characters/add_note_modal_character', character: character %>
  </section>
<% end  %>

<script>
  $(document).ready(function(){
    $('#js-show-character-<%= character.id %>').click(function(){
      $('#js-main-centerbox').find('.find').animate({
        left: "900px"
        }, function(){
          $(this).toggle();
          $('#js-persona-page-<%= character.id %>').toggle().css('opacity', '100');
        });
    })
    $('#js-back-to-main-centerbox-<%= character.id %>').click(function(){
      $('#js-persona-page-<%= character.id %>').toggle().css('opacity', '0');
      $('.find').show();
      $('#js-main-centerbox').find('.find').animate({
        left: "0px"
      }, function(){

      });
    })
  })
</script>
