<section class="ui card shadow">
  <section id="js-show-character-<%= character.id %>" class="image">
    <%= image_placeholder style:"width: 100%;height:100%", gender: character.gender %>
    <h4 class="image-text"><%= character.name %></h4>
  </section>
  <section class="extra content">
    <% if character.space %>
      <%= character.space.name %>
    <% else %>
      No Space
    <% end %>
    <%= link_to assign_space_character_path(character), id: "js-assign-space-#{character.id}", class: 'modal-assign-space', remote: true do %>
      <i class="large plus square outline icon"></i>
    <% end %>
  </section>
</section>


<% sym = character.name.to_sym %>
<% content_for sym  do %>
  <section id="js-persona-page-<%= character.id %>" style="opacity:0;display:none">
    <%= render 'characters/character_profile', character: character %>
    <%= render 'characters/assign_space_modal_character', character: character %>
    <%= render 'characters/add_note_modal_character', character: character %>
  </section>
<% end  %>

<script>
  $(document).ready(function(){
    $('#js-show-character-<%= character.id %>').click(function(){
      $('#js-main-centerbox').find('.find').animate({
        left: "900px"
        }, function(){
          $(this).toggle();
          $('#js-persona-page-<%= character.id %>').toggle().css('opacity', '100');
        });
    })
    $('#js-back-to-main-centerbox-<%= character.id %>').click(function(){
      $('#js-persona-page-<%= character.id %>').toggle().css('opacity', '0');
      $('.find').show();
      $('#js-main-centerbox').find('.find').animate({
        left: "0px"
      }, function(){

      });
    })
  })
</script>