<section class="row center">
    <section class="five wide column">
      <section class="ui card">
        <section class="image">
          <%= user_portrait style: 'width:100%;height:100%', gender: character.gender %>
          <h2 class="image-text">
            <%= character.name %>
          </h2>
        </section>
        <section class="extra content">
          <p>
            <i class="small arrow circle left icon"></i><span><%= character.gender %></span>
          </p>
          <p>
            <i class="small arrow circle left icon"></i><span><%= character.nationality %></span>
          </p>
          <p>
            <i class="small calendar outline icon"></i><span><%= character.DOB %></span>
          </p>
        </section>
      </section>
    </section>
    <section class="two column"></section>
    <section class="backstory nine wide column">
      <h4>Backstory</h4>
      <%= simple_form_for character, remote: true, html: { style: 'display:none', class: "edit-profile-form", :multipart => true } do |f| %>
        <%= f.input :description, label: false %>
        <%= f.submit 'SAVE' %>
      <% end %>
      <section class="content">
        <section class="description"><%= simple_format character.description %></section>
        <button class="js-edit-description">Edit</button>
      </section>
    </section>
  </section>