<section class="row scenes">
  <section class="header row">
    <h2>Scenes</h2>
  </section>
  <section class="ui styled accordion">
    <% character.scenes.order('created_at ASC').each do |scene| %>
      <section class="title" style="line-height:2">
        <section class="row" style="height:30px;">
          <section class="capitalize" style="float:left;">
            <%= link_to '#' do %>
              <%= scene.title %>
            <% end %>
          </section>
          <section style="float:right;">
            <%= link_to polymorphic_path([@space, scene]), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="minus icon"></i>
              <span class="link">Delete</span>
            <% end %>
          </section>
        </section>
      </section>
      <section class="content">
        <% scene.notes.order('created_at ASC').each do |note |%>
          <section class="ui fluid accordion" id="note-<%= note.id %>">
            <section class="title" style="line-height:2">
              <section class="row" style="height:30px;">
                <section class="capitalize" style="float:left;">
                  <%= link_to note.link do %>
                    <%= note.title %>
                  <% end %>
                </section>
                <section style="float:right;">
                  <%= link_to polymorphic_path([scene, note], action: :edit) do %>
                    <i class="configure icon"></i>
                    <span class="link edit-link">Edit</span>
                  <% end %>
                </section>
              </section>
            </section>
            <section class="content ui card fluid">
              <section class="row">
                <%= simple_format note.text %>
              </section>
              <section class="scenes-note row">
                <%= image_tag note.image.url if note.image.url.present? %>
                <%= note.link_html.gsub('<p>', '').gsub('</p>', '').html_safe if note.link_html %>
              </section>
            </section>
          </section>
        <% end %>
      </section>
    <% end %>
    <%= link_to polymorphic_path([character, :scene], action: :new), class: 'ui button attached bottom', remote: false do %>
      <i class="plus circle icon"></i>
      <span>Add scene</span>
    <% end %>
  </section>
</section>