<section class="row scenes">
  <section class="header row">
    <h2>Scenes</h2>
  </section>
  <section class="ui styled accordion">
    <% character.scenes.order('created_at ASC').each do |scene| %>
      <section class="title" style="line-height:2">
        <section class="row" style="height:30px;">
          <section class="capitalize" style="float:left;">
            <%= link_to '#' do %>
              <%= scene.title %>
            <% end %>
          </section>
          <section style="float:right;">
            <%= link_to polymorphic_path([@space, scene]), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="minus icon"></i>
              <span class="link">Delete</span>
            <% end %>
          </section>
        </section>
      </section>
      <section id="scene-<%= scene.id %>" class="content">
        <% scene.notes.order('created_at ASC').each do |note |%>
          <section id="note-<%= note.id %>" style="margin-bottom:10px;">
            <%= render 'shared/note', space: nil, scenable: scene, note: note %>
          </section>
        <% end %>
      </section>
    <% end %>
    <%= link_to polymorphic_path([character, :scene], action: :new), class: 'ui button attached bottom', remote: false, id: 'step10' do %>
      <i class="plus circle icon"></i>
      <span>Add scene</span>
    <% end %>
  </section>
</section>
