<section class="dashboard_header">
  <section class="ui page grid">  
    <%= link_to "Back", :back, class:"ui button primary", style:"margin-top: 50px" %>
  </section>
</section>

<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui one columns grid">

      <section class="column">
        <h3>Edit Character</h3>

        <div class="form-inputs">
          <%= simple_form_for @character, :html => { :multipart => true } do |f| %>
            <%= f.input :name, placeholder: 'Full Name' %>
            <%= f.input :gender, placeholder: 'Gender' %>
            <%= f.input :nationality, placeholder: 'Nationality' %>
            <%= f.date_field :DOB %>
            <%= f.input :image, label: 'Image' %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, 'EDIT PERSONA', class: 'ui fluid button primary' %>
          <% end %>
          <%= link_to 'DELETE PERSONA', @character, class: 'ui fluid button red', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

      </section>
    </section>
  </section>
