<section class="ui four columns centered grid">
	<section class="column sign">
		<section class="ui one columns grid">

			<section class="column">
				<h3>Create A Character</h3>
				
				<div class="form-inputs">
					<%= simple_form_for @character do |f| %>
					<%= f.input :name, placeholder: 'Full Name' %>
					<%= f.input :nationality, placeholder: 'Nationality' %>
					<%= f.input :DOB, label: 'Date Of Birth', as: :date, start_year: Date.today.year - 50,
					end_year: Date.today.year, discard_day: false,
					order: [:day, :month, :year] %>
				</div>
				<div class="form-actions">
					<%= f.button :submit, 'CREATE PERSONA', class: 'ui primary' %>
					<% end %>
				</div>

			</section>
		</section>
	</section>
</section>