<p id="notice"><%= notice %></p>

<h1>Listing User Payments</h1>

<table>
  <thead>
    <tr>
      <th>Payment Type</th>
      <th>Plan Type</th>
      <th>Payment Id</th>
      <th>Status</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user_payments.each do |user_payment| %>
      <tr>
        <td><%= user_payment.payment_type %></td>
        <td><%= user_payment.plantype %></td>
        <td><%= user_payment.payment_id %></td>
        <td><%= user_payment.status %></td>
        <td><%= user_payment.created_at %></td>
        <td><%= link_to "Cancel", payments_cancel_path(user_payment), remote: true, method: :post%></td>
      </tr>
    <% end %>
  </tbody>
</table>