<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui columns grid">
      <section class="column">
        <h3>Sign in</h3>
        <br>
        <div class="ui fluid input form-inputs" style="margin:20px 0px;">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, placeholder: 'Email address', autofocus: true %>
              <%= f.input :password, placeholder: 'Password', required: false %>
              <%= f.input :remember_me, label: 'Yes, remember me', as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign in", class: 'ui button yellow', style: "margin: 10px 0px;" %>
              <%= link_to 'Forgot password?', new_user_password_path %>
              <% end %>
              <%= button_to 'Sign up', new_user_registration_path, method: :get, class: 'button ui primary bold_text', style: 'margin: 10px 0px;' %>
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to omniauth_authorize_path(resource_name, provider), class: "ui button #{provider}", style: 'margin: 10px 0px;' do %>
                    <i class="facebook icon"></i>
                    <%= "Sign up with #{provider.to_s.titleize}" %>
                  <% end%>
                <% end -%>
              <% end -%>
            </div>
        </div>
      </section>
    </section>
  </section>
</section>
