<section id="js-create-character-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Create a Character</p>
  </section>

  <section class="content">
    <p>Fill in the basic details for your persona.</p>

    <section class="ui grid">
      <section class="sixteen wide column">
        <%= simple_form_for current_user.characters.build, :html => { :multipart => true } do |f| %>
          <section class="form-inputs">
            <%= f.input :name, placeholder: 'Full Name' %>
            <%= f.input :gender, collection: ['Male', 'Female'], selected: 'Male', input_html: { class: 'selector modal-input' }  %>
            <%= f.input :nationality, placeholder: 'Nationality', input_html: { class: 'modal-input' }  %>
            <%= f.date_field :DOB, label: 'Date Of Birth', class: 'modal-input'  %>
          </section>
        <% end %>
      </section>
    </section>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Create Character</section>
    </section>
  </footer>
</section>

<script>
  $('#js-create-character-modal .modal.footer .button').click(function() {
    $('#js-create-character-modal form').submit()
  });
</script>