<section id="js-create-character-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Create a Character</p>
  </section>

  <section class="content">
    <p>Fill in the basic details for your persona.</p>

    <section class="ui form">
        <%= simple_form_for current_user.characters.build, :html => { :multipart => true } do |f| %>
            <div class="field">
              <label>Name</label>
              <%= f.input :name, placeholder: 'Full Name', label: false %>
            </div>
            <div class="field">
              <label>Gender</label>
              <div class="ui selection dropdown">
                <%= f.hidden_field :gender %>
                <div class="default text">Gender</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item selected" data-value="male">Male</div>
                  <div class="item" data-value="female">Female</div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Nationality</label>
              <%= f.input :nationality, placeholder: 'Nationality', label: false  %>
            </div>
            <div class="field">
              <label>Date of birth</label>
              <%= f.date_field :DOB, label: 'Date Of Birth', class: 'modal-input'  %>  
            </div>
            <div class="field">
              <label>Select character portrait</label>
              <%= f.input :image  %>  
            </div>
        <% end %>
    </section>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Create Character</section>
    </section>
  </footer>
</section>

<script>
  $('#js-create-character-modal .modal.footer .button').click(function() {
    $('#js-create-character-modal form').submit()
  });
</script>