<section id="js-create-character-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Create a Character</p>
  </section>

  <section class="content">
    <p>Fill in the basic details for your persona.</p>

    <section class="ui grid">
      <section class="sixteen wide column">
        <%= simple_form_for current_user.characters.build, :html => { :multipart => true } do |f| %>
          <section class="form-inputs">
            <%= f.input :name, placeholder: 'Full Name' %>
            <%= f.input :gender, collection: ['Male', 'Female'] %>
            <%= f.input :nationality, placeholder: 'Nationality' %>
            <%= f.input :DOB, label: 'Date Of Birth', as: :date, start_year: Date.today.year - 50,
            end_year: Date.today.year, discard_day: false,
            order: [:day, :month, :year] %>
            <span class="ui search">
              <div class="ui icon input yearbox">
                <input class="prompt" type="text" placeholder="2015">
                <i class="search icon"></i>
              </div>
            <div class="results"></div>
            </span>
          </section>
        <% end %>
      </section>
    </section>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Create Character</section>
    </section>
  </footer>
</section>

<script>
  $('#js-create-character-modal .modal.footer .button').click(function() {
    $('#js-create-character-modal form').submit()
  });
</script>