<section id="js-edit-profile-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Edit Profile</p>
  </section>

  <section class="content">
      <section class="eleven wide column">
        <section class="ui form">
          <%= simple_form_for current_user, :html => { :multipart => true } do |f| %>
            
            <div class="three fields">
              <div class="field">
                <%= ImagePreviewer(current_user) %>
              </div>
              <div class="field">
                <%= f.input :first_name, placeholder: 'First Name' %>                
              </div>
              <div class="field">
                <%= f.input :last_name, placeholder: 'Last Name' %>    
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <%= f.label :DOB, 'Date of Birth' %>
                <%= f.date_field :DOB, label: 'Date Of Birth', class: 'modal-input'  %>
              </div>
              <div class="field">
                <%= f.input :gender, as: :select, collection: ['male', 'female'], class: 'ui selection dropdown' %>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <%= f.input :occupation, placeholder: 'Occupation' %>              
              </div>
              <div class="field">
                <%= f.input :location, placeholder: 'Location' %>   
              </div>
            </div>
            
              <div class="field">
                <%= f.input :image, placeholder: 'Image' %>
              </div>
            
          <% end %>
        </section>
      </section>
      <section class="ui button primary">Save</section>
    </section>
  </section>
</section>
<script>
$('#js-edit-profile-modal .ui.button.primary').click(function(){
  $("#js-edit-profile-modal").modal("hide")
  $('#edit_user_<%= current_user.id %>').trigger('submit');
})
</script>
<script>
  $(".modal-edit-profile").click(function(){
    $("#js-edit-profile-modal").modal("show")
  })
</script>