<aside class="four wide column sidebox">
  <section class="ui card shadow">
    <section class="image">
      <% if @user.profile_photo %>
      <%= image_tag @user.profile_photo %>
      <% else %>
      <%= image_placeholder %>
      <% end %>
      <h2 class="image-text">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </h2>
    </section>

    <section class="extra content">
      <ul>
        <li>
          <i class="calendar outline icon"></i>
          <%= @user.DOB.strftime('%d %B %Y') if @user.DOB %>
        </li>
        <li>
          <i class="user icon"></i>
          <%= @user.gender.titleize if @user.gender %>
        </li>
        <li>
          <i class="suitcase icon"></i>
          <%= @user.occupation.titleize if @user.occupation %>
        </li>
        <li>
          <i class="home icon"></i>
          <%= @user.location.titleize if @user.location %>
        </li>
      </ul>
    </section>

    <section class="extra content">
      <%= link_to 'EDIT PROFILE', edit_user_path(current_user) %>
    </section>
  </section>

  <section class="ui card shadow">
    <section class="extra content">
      <section class="header">
        <h3>Rehearsal Space</h3>
      </section>
      <section class="content">
        No Space Added
      </section>
    </section>
    <section class="extra content">
      <a href=" <%= new_space_path %> ">CREATE A SPACE</a>
    </section>
  </section>

  <footer>
    <p>&copy; 2014 Tablework Sdn. Bhd All Rights Reserved</p>
    <p><a href="">Terms of Service</a> | <a href="">Privacy Policy</a></p>
  </footer>
</aside>