<!-- <aside class="profile">
  <header>
    <p>
      <%=image_tag @user.profile_photo%>
    </p>
    <p>
      First Name: <%= @user.first_name %>
    </p>
    <p>
      Last Name: <%= @user.last_name %>
    </p>
  </header>
  <section>
    <p>
      Date of Birth: <%= @user.DOB %>
    </p>
    <p>
      Gender: <%= @user.gender %>
    </p>
    <p>
      Occupation: <%= @user.occupation %>
    </p>
    <p>
      Location: <%= @user.location %>
    </p>
  </section>
  <footer>
    <%= link_to 'EDIT PROFILE', edit_user_path(current_user) %>
  </footer>
</section> -->

<aside class="five wide column sidebox">
  <section class="ui card">
    <section class="image">
      <% if @user.profile_photo %>
        <%= image_tag @user.profile_photo %>
      <% else %>
        <%= image_placeholder %>
      <% end %>
      <h1 class="image-text">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </h1>
    </section>
    <section class="extra content">
      <a>
        <i class="calendar outline icon"></i>
        <%= @user.DOB.strftime('%d %B %Y') if @user.DOB %>
      </a>
    </section>

    <section class="extra content">
      <a>
        <i class="user icon"></i>
        <%= @user.gender.titleize if @user.gender %>
      </a>
    </section>

    <section class="extra content">
      <a>
        <i class="suitcase icon"></i>
        <%= @user.occupation.titleize if @user.occupation %>
      </a>
    </section>

    <section class="extra content">
      <a>
        <i class="home icon"></i>
        <%= @user.location.titleize if @user.location %>
      </a>
    </section>

    <section class="extra content">
      <%= link_to 'EDIT PROFILE', edit_user_path(current_user) %>
    </section>
  </section>
  <section class="ui card">
    <section class="content">
    <section class="header">
      <h3>Rehearsal Space</h3>
    </section>
    <section class="extra content">
      <a>
        <i class="plus icon"></i> Create a space
      </a>
    </section>
    </section>
  </section>
  <footer>
    <p>&copy; 2014 Tablework Sdn. Bhd All Rights Reserved</p>
    <p>Terms of Service | Privacy Policy</p>
  </footer>
</aside>