<aside class="four wide column sidebox">
  <section class="ui card shadow">
    <section class="image">
        <%= user_portrait({user: @user, style: 'width:100%; height: 100%'}) %>
      <h2 class="image-text">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </h2>
    </section>

    <section class="extra content">
      <ul>
        <li>
          <i class="calendar outline icon"></i>
          <%= @user.DOB.strftime('%d %B %Y') if @user.DOB %>
        </li>
        <li>
          <i class="user icon"></i>
          <%= @user.gender.titleize if @user.gender %>
        </li>
        <li>
          <i class="suitcase icon"></i>
          <%= @user.occupation.titleize if @user.occupation %>
        </li>
        <li>
          <i class="home icon"></i>
          <%= @user.location.titleize if @user.location %>
        </li>
      </ul>
    </section>

    <section class="extra content">
      <%= link_to 'EDIT PROFILE', edit_user_path(current_user), remote: true, class: 'modal-edit-profile' %>
    </section>
  </section>

  <section class="ui card shadow">
    <section class="extra content">
      <section class="header">
        <h3>Rehearsal Space</h3>
      </section>
      <section class="content">
        <ul>
          <% if current_user.owned_spaces.present? %>
            <% current_user.owned_spaces.each do | space | %>
            <%= link_to space, id: "space-#{space.id}" do %>
            <li class="ui grid">
              <div class="four wide column">
                <div style="background: #dcdcdc; width: 40px; height: 40px; border-radius: 20px;"></div>
              </div>
              <div class="twelve wide column">
                <p> <%= space.name %> </p>
                <small> <%= space.type_of_play.present? ? space.type_of_play : 'No type' %> </small>
              </div>
            </li>
            <% end %>
            <% end %>
          <% else %>
            <li>
              <p>No space added</p>
            </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="extra content">
      <%= link_to 'CREATE A SPACE', new_space_path(current_user), remote: true, class: 'modal-create-space' %>
    </section>
  </section>

  <footer>
    <p>&copy; 2014 Tablework Sdn. Bhd All Rights Reserved</p>
    <p><a href="">Terms of Service</a> | <a href="">Privacy Policy</a></p>
  </footer>
</aside>