<%= render 'application/profile' %>
<aside class="rehearsal-space">
  <header>
    Rehearsal Space
  </header>
  <section>
    <%= render @spaces %>
  </section>
  <footer>
    <%= link_to 'Create a Space', new_space_path %>
  </footer>
</aside>
<main>
  <header>
    Your Character
  </header>
  <section>
    <%= render @characters %>
    <%= link_to 'Create Character', new_character_path %>
  </section>
</main>