<section class="ui menu topbar fourteen wide column">
  <%= content_tag 'a', href: root_path, class: 'item' do %>
    <section class="brand"></section>
  <% end %>
  <section class="right menu">
    <a class="item" href="" ></a>
    <%= link_to 'Contact', about_path(anchor: 'contact'), class: 'item' %>
    <%= link_to 'About', about_path, class: 'item' %>
    <%= link_to 'Pricing', pricing_path, class: 'item' %>
    <%= link_to dashboard_path, class: 'item' do %>
      <span>Step In</span>
      <i class="right arrow icon"></i>
    <% end %>
  </section>
</section>
