<section class="ui menu topbar <%= controller_name %> <%= action_name %>">
  <%= content_tag 'a', href: root_path, class: 'item' do %>
  <section class="brand"></section>
  <% end %>
  <%= content_tag 'a', href: root_path, class: 'item' do %>
  Dashboard
  <% end %>
  <section class="right menu">
    <%= link_to destroy_user_session_path, :method => :delete, class: 'item' do %>
      <%= image_tag 'profile.png', style: 'width: 25px;height:25px;' %>
    <% end %>
  </section>
</section>
