<section class="ui menu topbar <%= controller_name %> <%= action_name %>">
  <%= content_tag 'a', href: root_path, class: 'item' do %>
  <section class="brand"></section>
  <% end %>
  <%= content_tag 'a', href: root_path, class: 'item' do %>
  Dashboard
  <% end %>
  <section class="ui dropdown right item" style="margin-top: 20px;">
    <%= image_tag 'profile.png', style: 'width: 25px;height:25px;' %>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">
        <%= link_to 'Edit Profile', edit_user_path(current_user) %>        
      </div>
      <div class="item">
        <%= link_to 'Edit Account', payments_path %>
      </div>
      <div class="item">
        <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>        
      </div>
    </div>
  </section>
</section>
