<!DOCTYPE html>
<html>
<head>
  <title>Tablework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700,700italic,500italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <section class="flash">
    <% if flash.present? %>
        <% flash.each do |key,value| %>
          <p><%= flash[key] %></p>
      <% end %>
    <% end %>
  </section>
  <header>
    <%= render 'layouts/header' if user_signed_in? %>
  </header>
  <section>
    <%= yield %>
  </section>
</body>
</html>
